<html>
	<head>
		<title> Cars Details</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body ng-app="Cars">
		
		<div ng-controller="carsCtrl">
			 <div >
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchByTerm }}</p>
  </div>
			<table>
				<thead>
					<tr>
						<td>
							<a href="#" ng-click="sortType = 'name'">
								Name
							</a>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
								Model
							</a>
						</td>
						<td> 
							<a href="#" ng-click="sortType = 'engine'; sortReverse = !sortReverse">
								Engine
							</a> 
						</td>
						<td> 
							<a href="#" ng-click="sortType = 'color'; sortReverse = !sortReverse">
								Color
							</a>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'mileage'; sortReverse = !sortReverse">
								Mileage
							</a>
						</td>
					</tr>
				</thead>

				<tr ng-repeat = "car in cars | orderBy:sortType:sortReverse"> 
					<td> {{car.name}} </td>
					<td> {{car.model}} </td>
					<td> {{car.engine}} </td>
					<td> {{car.color}} </td>
					<td> {{car.mileage}} </td>
				</tr>
			</table>
	    </div>
	</body>
</html>